In [1]:
l =[2,9,6,5,12,5,7,8]
for i in l :
    if i % 3 == 0:
        print(i, 'is divisble by 3')
    else:
        print(i, 'is not divisble by 3')

2 is not divisble by 3
9 is divisble by 3
6 is divisble by 3
5 is not divisble by 3
12 is divisble by 3
5 is not divisble by 3
7 is not divisble by 3
8 is not divisble by 3

In [12]:
l =[2,9,6,5,12,5,7,8]
number= int(input('Enter the Number : '))
for i in range(len(l)) :
    if l[i] == number:
        print(l[i], 'Number is present in list')

Enter the Number : 12
12 Number is present in list

- Nested Loops

In [19]:
for i in range(6,0,-1) :
    for j in range(5,i-1,-1):
        print(j, end = ' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [22]:
for i in range(1,6) :
    for j in range(5,5-i,-1):
        print(j, end = ' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [28]:
for i in range(5,0,-1) :
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [15]:
for i in range(5,0,-1) :
    for k in range(5-i):
        print(' ', end= ' ')
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [25]:
for i in range(1,8):
    for k in range(7-i):
        print(end= ' ')
    for j in range(1,2*i):
            print('*',end ='')
    print()

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [31]:
for i in range(7,0,-1):
    for k in range(7-i):
        print(end= ' ')
    for j in range(1,2*i):
            print('*',end ='')
    print()

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [43]:
for i in range(7,0,-1):
    for k in range(7-i):
        print(end= ' ')     
    for j in range(1,2*i):
            print('*',end ='')
    print()

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [35]:
i=0
while i<5:
    i += 1
    print(i)
else:
    print('i is not less than 5')

1
2
3
4
5
i is not less than 5